@media only screen and (max-width: 800px) {
    .cart-box {
        flex-wrap: wrap-reverse;
        overflow: auto;
        
    }

    .cart-box .cart__confirmation{
        margin-bottom: 15px;
    }
  }

.cart{

}


.cart-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: auto;
    padding: 10px;   
}

.cart-box .cart__products-list{
    padding: 5px;
    border-radius: 5px;
    overflow: auto;

}

.cart-box .cart__confirmation{
    background-color: #84a9ac;
}

.order-summary{
    
}

.order-summary > p{
    padding: 7.5px;
    margin: 0px;
    background-color: #3b6978;
    color: white;
}

.item-value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 0px 10px ;
    border-bottom: 1px solid black;
}

.cart-box .cart__confirmation{
    flex-grow: 0;
    border: 1px solid black;
    max-width: 320px;   
    overflow: auto;
}

.cart__confirmation-actions{
    display: flex;
    justify-content: center;
    align-items: center;

}

.cart__confirmation-actions .cart__confirmation-btn{
    background-color: coral;
    width:456px;
}