@media only screen and (max-width: 800px) {
    .cart-box {
        flex-wrap: wrap-reverse;
        overflow: auto;
        
    }

    .cart-box .cart__confirmation{
        margin-bottom: 15px;
    }
  }




.cart-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    overflow: auto;
    padding: 10px;
    
}

.cart-box .cart__products-list{
    border: 1px solid black;
    overflow: auto;

}



.order-summary{
    
}

.order-summary > p{
    padding: 7.5px;
    margin: 0px;
    background-color: black;
    color: white;
}

.item-value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 0px 10px ;
    border: 1px solid black;
}

.cart-box .cart__confirmation{
    flex-grow: 0;
    border: 1px solid black;
    max-width: 320px;   
    overflow: auto;
}

.cart__confirmation-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__confirmation-actions .cart__confirmation-btn{
    margin-top:20px;
    background-color: coral;
    width:456px;;
}