.wrapper{
    padding:5px;
    width:875px;
}

.inner{
    
}

.inner > div{
    margin:5px;
    border: 1px solid red;
   
}


.inner .list{


}

.inner .confirmationBox{
   

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}



