.profile-box{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.account-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    padding: 20px;
}