:root{
    --icon-measure: 250px;
}


.articulo-box{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin:10px;
}

.articulo{
    background-color: red;
    padding: 32px;
}

.articulo-photo{
   
}

.articulo-photo .icon{
    width: var(--icon-measure);
    height: var(--icon-measure)
}

.articulo-box__actions{
   
  
}

.articulo-box__actions .articulo-box__btn{
    background-color: yellow;
    margin-left:10px;
}