.mercanciar{
    display: flex;
    flex-direction: column;

}

.buscador{ /*product-search*/
    display: flex;
    border: 1px solid yellow;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap
}


.form{
    
    display: flex;
    flex-direction: row;
    
}

.form .select{
    width:155px;
    margin-right: 10px;
}

.content{ /*product-grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}


.item{
    padding: 10px;
    border: 1px solid red;
}
