.not-found-container{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    margin: 15px;
}
.not_found-box{  
    max-width: 700px;  

}

.not-found-box__title {
    font-size:115px;
    padding: 0;
    margin: 0;
}