.empty_cart-container{
    display: flex;
    justify-content: center;
}

.empty_cart-box{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty_cart-box .icon{
    font-size:5em;
}

.empty_cart-box p{
    font-size: 27px;
}