.inicio-categories{
  
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 8px;
    padding:25px;
}

.categorie{
    display: flex;
    justify-content: center;
    border:1px solid #c6b9b4;
    border-radius:3px;
    font-size:10px;
    text-decoration: none;  
}

.categorie-title{
    background-color: lightsteelblue;
    margin: 0;
    padding: 10px;
    height: 25px;
    text-align: center;
    min-width: 367px;
    color:ivory

}

.card{
    border: 1px solid red;
}