@media only screen and (max-width: 800px) {
    .cart-item{
        flex-wrap: wrap;
        overflow: auto;
    }
}
.cart-item{
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:12px;
    overflow: auto;
}

.cart-item:last-child{
    margin-bottom:0px;
}

/*.cart-item__picture*/
.cart-item__info{
    
    width:70%;
    padding: 10px; 
    
}
.cart-item__actions{
   
    width:30%;
}
/*.cart-item__btn_delete*/
/*.cart-item__btn_update*/


